<!-- Footer -->

<footer class="footer container-fluid">
    <nav class="navbar navbar-light bg-light">
      <ul>
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/">Contacto</a>
      </ul>
      <div>
        <a class="ms-2 me-2" href=""><img class="icon" src="/assets/twitter.svg" alt="twiter"></a>
        <a class="ms-2 me-2" href=""><img class="icon" src="/assets/Facebook.svg" alt="facebook"></a>
        <a class="ms-2 me-2" href=""><img class="icon" src="/assets/instagram.svg" alt="instagram"></a>
      </div>
    </nav>
  </footer>