<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friki-Shop</title>
</head>

<body>
  <nav Class="navbar">
    <div>
      <img src="" alt="Logo">
      <a href="./">Home</a>
      <a href="./">Contacto</a>
    </div>
    <div>
      <img src="" alt="Cart">
      <a href="./login">Login</a>
      <a href="./register">Register</a>
    </div>
  </nav>
  <main>

  </main>


  <h1>Hola Mundo</h1>
  <p>Este es el inicio de la pagina web</p>

</body>

</html>