<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

<body>
  <nav Class="navbar navbar-light bg-light">
    <div>
      <title>Registro</title>
      <img class="icon" src="/img/logo.jpg" alt="Logo">
      <a class="navbar-brand" href="./">Home</a>
      <a class="navbar-brand" href="./">Contacto</a>
    </div>
    <div>
      <a href="/productCart">
        <img class="me-4" src="/assets/cart.svg" alt="Cart">
      </a>
    </div>
  </nav>
  <%- include('users/user') %>
 

  <%- include('partials/footer') %>

</body>

</html>