<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/style.css">
  <title>Carrito</title>
</head>

<body>
  <nav Class="navbar navbar-light bg-light">
    <div>
      <img class="icon" src="/public/img/logo.jpg" alt="Logo">
      <a class="navbar-brand" href="./">Home</a>
      <a class="navbar-brand" href="./">Contacto</a>
    </div>
    <div>
      <a href="/productCart"><img class="me-4" src="/public/assets/cart.svg" alt="Cart"></a>
      <a class="btn btn-outline-secondary" href="./login">Login</a>
      <a class="btn btn-outline-primary" href="./register">Register</a>
    </div>
  </nav>

  <main class="container mt-5">
    <div class="row">
      <div class="col-8">
        <div class=" cart-item">
          <img class="icon-item"
            src="/public/img/54264PKG_DC-ImperialPalace_MartianManhunter_POP_MT_GLAM-1-WEB_920x920.png" alt="producto">
          <div>
            <p>Nombre del producto</p>
            <p>Descripcion</p>
          </div>
          <button class="btn btn-outline-primary button-item">Delete</button>
        </div>
        <div class=" cart-item">
          <img class="icon-item" src="/public/img/PP907_GODEATER_ARTFXJSOMASCHICKSAL_14_667x1000.jpeg" alt="producto">
          <div>
            <p>Nombre del producto</p>
            <p>Descripcion</p>
          </div>
          <button class="btn btn-outline-primary button-item">Delete</button>
        </div>
        <div class=" cart-item">
          <img class="icon-item" src="/public/img/PP907_GODEATER_ARTFXJSOMASCHICKSAL_14_667x1000.jpeg" alt="producto">
          <div>
            <p>Nombre del producto</p>
            <p>Descripcion</p>
          </div>
          <button class="btn btn-outline-primary button-item">Delete</button>
        </div>
        <div class=" cart-item">
          <img class="icon-item" src="/public/img/PP907_GODEATER_ARTFXJSOMASCHICKSAL_14_667x1000.jpeg" alt="producto">
          <div>
            <p>Nombre del producto</p>
            <p>Descripcion</p>
          </div>
          <button class="btn btn-outline-primary button-item">Delete</button>
        </div>
      </div>
      <div class="col-4">
        <div class="card-pay">
          <h3>Metodo de Pago</h3>
          <div>
            <img class="icon" src="/public/assets/paypal.svg" alt="paypal">
            <img class="icon" src="/public/assets/credit_card.svg" alt="card">
            <img class="icon" src="/public/assets/cash.svg" alt="cash">
          </div>
          <h3>Metodo de Envio</h3>
          <div>
            <img class="icon me-4" src="/public/assets/delivery.svg" alt="Envio">
            <img class="icon" src="/public/assets/shop.svg" alt="Recoger">
          </div>
          <div class="wallet">
            <div class="mt-4">
              <p class="d-block">Subtotal</p>
              <p class="d-block">Envio</p>
              <p class="d-block">IVA</p>
              <p class="d-block">Total</p>
            </div>
            <div class="mt-4 ms-5">
              <p class="d-block">$$$</p>
              <p class="d-block">$$$</p>
              <p class="d-block">$$$</p>
              <p class="d-block">$$$</p>
            </div>
          </div>
          <button class="btn btn-outline-primary mb-4">Finalizar Compra</button>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer container-fluid">
    <nav class="navbar navbar-light bg-light">
      <ul>
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/">Contacto</a>
      </ul>
      <div>
        <a class="ms-2 me-2" href=""><img class="icon" src="/public/assets/twitter.svg" alt="twiter"></a>
        <a class="ms-2 me-2" href=""><img class="icon" src="/public/assets/Facebook.svg" alt="facebook"></a>
        <a class="ms-2 me-2" href=""><img class="icon" src="/public/assets/instagram.svg" alt="instagram"></a>
      </div>
    </nav>
  </footer>

</body>

</html>