<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

<body>
  <nav Class="navbar navbar-light bg-light">
    <div>
      <title>Registro</title>
      <img class="icon" src="/img/logo.jpg" alt="Logo">
      <a class="navbar-brand" href="./">Home</a>
      <a class="navbar-brand" href="./">Contacto</a>
      <a class="navbar-brand" href="/productCrud">Producto</a>
    </div>
    <div>
      <a href="/productCart">
        <img class="me-4" src="/assets/cart.svg" alt="Cart">
      </a>
    </div>
  </nav>

  <main class="content">
    <section class="box">
      <img src="/img/logo.jpg" class="card-img-top size-img" alt="Logo">
      <div class="card-body">
        <form class="form-group" action="">
                <label class="d-block mt-2 mb-2" for="producto">Id Producto</label>
                <input type="text" name="producto" id="producto" placeholder="producto"> 
              
   
     <button class="btn btn-outline-primary">Consultar</button>
          <label class="d-block mt-2 mb-2" for="name">Nombre del producto</label>
          <input type="text" name="name" id="name" placeholder="Nombre">
          <label class="d-block mt-2 mb-2" for="msg">Descripción:</label>
          <input name="user_message" id="msg" placeholder="Descripción">
          <label class="d-block mt-2 mb-2" for="imgpro">Foto</label>                
          <input type="file" name="imgpro" id="imgpro" placeholder="Imagen">    
          <label class="d-block mt-2 mb-2" for="precio">Precio</label>
          <input type="text" name="precio" id="precio" placeholder="precio"> 
          <div class="mt-3 mb-3 d-flex justify-content-around">
            <button class="btn btn-outline-primary">Editar</button>
            <button class="btn btn-outline-success">Crear</button>
            <button class="btn btn-outline-danger">Eliminar</button>
          </div>
        </form>
      </div>
    </section>
  </main>



  <%- include('partials/footer') %>

</body>

</html>