<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

<body>
  <nav Class="navbar navbar-light bg-light">
    <div>
      <title>Registro</title>
      <img class="icon" src="/img/logo.jpg" alt="Logo">
      <a class="navbar-brand" href="./">Home</a>
      <a class="navbar-brand" href="./">Contacto</a>
      <a class="navbar-brand" href="./productCrud">Producto</a>
    </div>
    <div>
      <a href="/productCart">
        <img class="me-4" src="/assets/cart.svg" alt="Cart">
      </a>
    </div>
  </nav>

  <main class="content">
    <section class="boxx">
      <img src="/img/logo.jpg" class="card-img-top size-img" alt="Logo">
      <div class="card-body">
        <form class="form-group" action="">
          <label class="d-block mt-2 mb-2" for="name">Nombre</label>
          <input type="text" name="name" id="name" placeholder="Nombre">
          <label class="d-block mt-2 mb-2" for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email">
          <label class="d-block mt-2 mb-2" for="pass">Password</label>
          <input type="password" name="pass" id="pass" placeholder="Contrasena">
          <div class="mt-3 mb-3 d-flex justify-content-around">
            <button class="btn btn-outline-danger">Cancel</button>
            <button class="btn btn-outline-primary">Register</button>
          </div>
        </form>
      </div>
    </section>
  </main>



  <%- include('partials/footer') %>

</body>

</html>