<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>
      <main class="container">
        <div class="row">
          <div class="card col-8">

          </div>
          <div class="col-4">
            <div class="card-pay">
              <h3>Metodo de Pago</h3>
              <div>
                <img class="icon" src="/assets/paypal.svg" alt="paypal">
                <img class="icon" src="/assets/credit_card.svg" alt="card">
                <img class="icon" src="/assets/cash.svg" alt="cash">
              </div>
              <h3>Metodo de Envio</h3>
              <div>
                <img class="icon me-4" src="/assets/delivery.svg" alt="Envio">
                <img class="icon" src="/assets/shop.svg" alt="Recoger">
              </div>
              <div class="wallet">
                <div class="mt-4">
                  <p class="d-block">Subtotal</p>
                  <p class="d-block">Envio</p>
                  <p class="d-block">IVA</p>
                  <p class="d-block">Total</p>
                </div>
                <div class="mt-4 ms-5">
                  <p class="d-block">$$$</p>
                  <p class="d-block">$$$</p>
                  <p class="d-block">$$$</p>
                  <p class="d-block">$$$</p>
                </div>
              </div>
              <button class="btn btn-outline-primary mb-4">Finalizar Compra</button>
            </div>
          </div>
        </div>
      </main>

      <%- include('partials/footer') %>

  </body>

</html>