<!DOCTYPE html>
<html lang="en">


<%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>

      <!--Productos Tabla -->

      <main class="container mt-5">
        <div class="row">


          <div class=" cart-item col-4">
            <img class="icon-item" src="/img/PP907_GODEATER_ARTFXJSOMASCHICKSAL_14_667x1000.jpeg" alt="producto">
            <div>
              <p>Nombre del producto</p>
              <p>Descripcion</p>
            </div>
            <button class="btn btn-outline-primary button-item">
              Delete
            </button>
          </div>


        </div>
      </main>

      <%- include('partials/footer') %>

  </body>

</html>