<!-- Navbar -->

<nav Class="navbar navbar-light bg-light container-fluid">
  <div>
    <img class="icon" src="/img/logo.jpg" alt="Logo">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="#">Contacto</a>
    <a class="navbar-brand" href="/products">Producto</a>
    <div class="dropdown d-inline">
      <a class="navbar-brand dropdown dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        Mantenimiento
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu2">
        <li><a class="dropdown-item" href="/products/create">Alta Producto</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/user/register">Alta Usuario</a></li>
      </ul>
    </div>
  </div>
  <div>
    <a href="/products/cart"><img class="me-4" src="/assets/cart.svg" alt="Cart"></a>
    <a class="btn btn-outline-secondary" href="/user/login">Login</a>
    <a class="btn btn-outline-primary" href="/user/register">Register</a>
  </div>
</nav>