<main class="content">
    <section class="boxx">
      <img src="/img/logo.jpg" class="card-img-top size-img" alt="Logo">
      <div class="card-body">
        <form class="form-group" action="">
          <label class="d-block mt-2 mb-2" for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email">
          <label class="d-block mt-2 mb-2" for="pass">Password</label>
          <input type="password" name="pass" id="pass" placeholder="Constrasena">
          <a class="d-block mt-2 mb-2" href="/register"> Crear una Cuenta</a>
          <button class="btn btn-primary">Login</button>
        </form>
      </div>
    </section>
  </main>