<!--Productos Tabla -->

<main class="container mt-5">
    <div class="row">
      <div class="col-8">
        <div class=" cart-item">
          <img class="icon-item"
            src="/img/54264PKG_DC-ImperialPalace_MartianManhunter_POP_MT_GLAM-1-WEB_920x920.png" alt="producto">
          <div>
            <p>Nombre del producto</p>
            <p>Descripcion</p>
          </div>
          <button class="btn btn-outline-primary button-item">Delete</button>
        </div>
        <div class=" cart-item">
          <img class="icon-item" src="/img/PP907_GODEATER_ARTFXJSOMASCHICKSAL_14_667x1000.jpeg" alt="producto">
          <div>
            <p>Nombre del producto</p>
            <p>Descripcion</p>
          </div>
          <button class="btn btn-outline-primary button-item">Delete</button>
        </div>
        <div class=" cart-item">
          <img class="icon-item" src="/img/PP907_GODEATER_ARTFXJSOMASCHICKSAL_14_667x1000.jpeg" alt="producto">
          <div>
            <p>Nombre del producto</p>
            <p>Descripcion</p>
          </div>
          <button class="btn btn-outline-primary button-item">Delete</button>
        </div>
        <div class=" cart-item">
          <img class="icon-item" src="/img/PP907_GODEATER_ARTFXJSOMASCHICKSAL_14_667x1000.jpeg" alt="producto">
          <div>
            <p>Nombre del producto</p>
            <p>Descripcion</p>
          </div>
          <button class="btn btn-outline-primary button-item">Delete</button>
        </div>
      </div>